{% include 'header.html' %}

<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-gray-600"><button type="submit"
                    class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 dark:bg-gray-600 dark:hover:bg-gray-600 dark:focus:ring-gray-600" onclick="window.location.href = 'https://telegram.dog/broadhaber';">
                    Telegram @broadhaber
                </button>
</h2>

<div class="mx-auto my-1 p-1 w-full">
    <div class="flex flex-wrap gap-4 justify-center w-full">
        {% for chat in chats %}
        <a title="{{chat.name}}" href="/{{chat.page_id}}"
            class="justify-items-center min-h-full w-5/12 sm:w-1/4 md:w-1/5 lg:w-1/6 rounded p-2 text-center break-words shadow hover:shadow-md hover:bg-gray-600 dark:bg-gray-900 dark:hover:bg-gray-600">

            <img src="/{{chat.page_id}}/logo?big=1" class="w-full rounded-full">
            <div class="p-1 mt-2 rounded text-white bg-gray-600 dark:bg-gray-900">{{chat.name}}</div>

        </a>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}
